body{
	background-image: url('dark_wood.png');
}

p {
	font-weight: bold;
	font-family: "Arial";
	color: lightblue;
}
h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;	
}

div{
	background-color: #8E41D5;
}

li{

}

ul{
	list-style-type: none;
	padding-left: 0px;	
}

a {
	color: lightblue;
	font-weight: bold;
	font-size: 24px;
}

#Header {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
}

#Header h1{
	font-size: 80px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

#LeftNav {
	width: 400px;
	float: left;
	text-align: center;
	padding-bottom: 8px;
	border: solid 8px black;
}

#LeftNav img{}
#LeftNav ul {}
#LeftNav h3 {}

#Content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	padding: 15px;	
}
#Footer {
	border: solid 8px black;
	text-align: center;
}